<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Movimiento</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">

    <header class="">
        <!--Barra de navegación-->
        <nav class="bg-gradient-to-r from-cyan-500 to-blue-500 w-full px-2 py-5 shadow-lg">
            <div class="flex flex-auto justify-between gap-2 px-2 items-center">
                <div class="text-white font-bold">
                    <img src="https://seeklogo.com/images/U/unicauca-logo-87F35B8ABC-seeklogo.com.png" height="40"
                         width="40">
                </div>
                <div class="flex flex-auto justify-end gap-4 text-lg text-white font-bold"
                     sec:authorize="hasAnyRole('ADMIN','OPERARIO')">
                    <a th:href="@{/index}" class="hover:bg-sky-600 px-2 py-1 rounded">Inicio</a>
                    <a th:href="@{/enterprises}" class="hover:bg-sky-600 px-2 py-1 rounded">Control Empresas</a>
                    <a th:href="@{/employee}" class="hover:bg-sky-600 px-2 py-1 rounded">Control Usuarios</a>
                </div>

            </div>
        </nav>
    </header>

    <form th:object="${transaction}" method="post" th:action="@{/transaction}">
        <div class="w-1/2 my-0 mx-auto pt-5 border border-gray-100 shadow-2xl p-5 rounded">
            <div class="flex flex-col">
                <label for="amount" class="w-full font-bold">Monto:</label>
                <input id="amount" type="number"
                       required
                       class="px-1 py-2 border mb-2 border-gray-300 focus:border-gray-400"
                       name="amount" th:field="*{amount}" placeholder="Digite monto ">
            </div>
            <div class="flex flex-col">
                <label for="concept" class="w-full font-bold">Concepto:</label>
                <input id="concept" type="text"
                       required
                       class="px-1 py-2 border mb-2 border-gray-300 focus:border-gray-400"
                       name="concept" th:field="*{concept}" placeholder="Digite concepto ">
            </div>
            <div class="flex flex-col">
                <label class="w-full font-bold">Empleado:</label>
                <select th:field="*{employee.id}"
                        required
                        class="px-1 py-2 border mb-2 border-gray-300 focus:border-gray-400"
                        placeholder="Seleccione empleado ">
                    <option th:each="employee : ${employees}" th:text="${employee.name}"
                            th:value="${employee.id}"></option>
                </select>
            </div>
            <div class="flex flex-col">
                <label class="w-full font-bold">Empresa:</label>
                <select th:field="*{enterprise.id}"
                        required
                        class="px-1 py-2 mb-2 border border-gray-300 focus:border-gray-400 w-full rounded"
                        placeholder="Seleccione empresa ">
                    <option th:each="enterprise : ${enterprises}" th:text="${enterprise.name}"
                            th:value="${enterprise.id}"></option>
                </select>
            </div>
            <div class="my-2 flex flex-col">
                <button type="submit" class="font-bold text-white px-4 py-3 bg-green-500 hover:bg-green-600 focus:outline-none rounded">
                    Crear Movimiento
                </button>
            </div>
        </div>
    </form>

</div>

</body>
</html>