<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>index</title>
</head>

<div sec:authorize="isAuthenticated()">
    <header class="">
        <!--Barra de navegación-->
        <nav class="bg-gradient-to-r from-cyan-500 to-blue-500 w-full px-2 py-5 shadow-lg">
            <div class="flex flex-auto justify-between gap-2 px-2 items-center">
                <div class="text-white font-bold">
                    <!-- <img src="" alt=""> -->
                    <img src="https://seeklogo.com/images/U/unicauca-logo-87F35B8ABC-seeklogo.com.png" height="40" width="40">
                </div>
                <div class="flex flex-auto justify-end gap-4 text-lg text-white font-bold" sec:authorize="hasAnyRole('ADMIN','OPERARIO')">
                    <a th:href="@{/enterprises}" class="hover:bg-sky-600 px-2 py-1 rounded" >Control Empresas</a>
                    <a th:href="@{/employee}" class="hover:bg-sky-600 px-2 py-1 rounded" >Control Usuarios</a>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="hover:bg-sky-600 px-2 py-1 rounded" >
                            Cerrar sesión
                        </button>
                    </form>
                </div>

            </div>
        </nav>
    </header>
</div>

<footer class="">

</footer>

</html>
