<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Registro Empleado</title>
  <!--Boostrap CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!-- Seccion Navegacion -->
<nav class="navbar navbar-dark bg-dark">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button">Home</button>
    <a th:href="@{/enterprises}" class="btn btn-sm btn-outline-secondary" type="button" style="color:#66ad5f;">Control De Empresas</a>
    <a th:href="@{/users}" class="btn btn-sm btn-outline-secondary" type="button" style="color:#66ad5f;">Control De Usuarios</a>    </form>
  </form>
</nav>
<!--Salto de linea-->
<br>
<!--Estructura Formulario-->
<div class="Container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class="text-center">Registro De Empleado</h1>
      <div class="card-body">
        <!--Formulario-->
        <!-- th:action utilizamos la plantilla como frontEnd-->
        <form th:action="@{/users/{id}(id=${employee.id})}" th:object="${employee}" method="post">
          <div class="form-group">
            <label>Nombre :</label>
            <input type="text" name="name" th:field="*{name}" class="form-control" placeholder="Digite Nombre: ">
          </div>

          <div class="form-group">
            <label>Correo :</label>
            <input type="email" name="email" th:field="*{email}" class="form-control" placeholder="Digite Documento: " required>
          </div>

          <!--ComboBox para seleccionar el perfil del empleado-->
          <div class="form-group">
            <label>Perfil :</label>
            <select th:field="*{profile}" class="form-control" placeholder="Seleeccione Perfil">
              <option th:each="profile:${profiles}"
                      th:value="${profile.id}" th:text="${profile.image}"
              >
            </select>
          </div>
          <!--ComboBox para seleccionar el rol del empleado-->

          <div class="form-group">
            <label>Rol :</label>
            <select th:field="*{role}" class="form-control" placeholder="Seleeccione Perfil">
              <option th:each="role:${roles}"
                      th:value="${role}" th:text="${role}"
              >
            </select>
          </div>

          <!--ComboBox para seleccionar la empresa relacionada con el empleado-->
          <div class="form-group">
            <label>Empresa :</label>
            <select th:field="*{enterprise}" class="form-control" placeholder="Seleeccione Empresa">
              <option th:each="enterprise:${enterprises}"
                      th:value="${enterprise.id}" th:text="${enterprise.name}"
              >
            </select>
          </div>


          <!--ME GENERA PROBLEMAS CON LA FECHA-->
          <!--
          <div class="form-group">
              <label>Fecha Creacion :</label>
              <input type="date" name="createdAt" th:field="*{createAt}" class="form-control" placeholder="Fecha Creacion: " >
          </div>
          -->
          <!--
          <div class="form-group">
              <label>Fecha Actualizacion :</label>
              <input type="date" name="updateAt" th:field="*{updateAt}" class="form-control" placeholder="Fecha Actualizacion: " >
          </div>
          -->

          <div class="box-footer">
            <button class="btn btn-success">Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>