<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Control Empresas</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <header class="">
        <!--Barra de navegación-->
        <nav class="bg-gradient-to-r from-cyan-500 to-blue-500 w-full px-2 py-5 shadow-lg">
            <div class="flex flex-auto justify-between gap-2 px-2 items-center">
                <div class="text-white font-bold">
                    <!-- <img src="" alt=""> -->
                    <img src="https://seeklogo.com/images/U/unicauca-logo-87F35B8ABC-seeklogo.com.png" height="40"
                         width="40">
                </div>
                <div class="flex flex-auto justify-end gap-4 text-lg text-white font-bold"
                     sec:authorize="hasAnyRole('ADMIN','OPERARIO')">
                    <a th:href="@{/index}" class="hover:bg-sky-600 px-2 py-1 rounded">Inicio</a>
                    <a th:href="@{/enterprises}" class="hover:bg-sky-600 px-2 py-1 rounded">Control Empresas</a>
                    <a th:href="@{/employee}" class="hover:bg-sky-600 px-2 py-1 rounded">Control Usuarios</a>
                </div>
            </div>
        </nav>
    </header>
    <div sec:authorize="hasAnyRole('ADMIN', 'OPERARIO')" class="w-full pl-4 pr-4 py-5 pb-5 w-11/12 mx-auto my-0">
        <div class="flex flex-auto gap-2 justify-between mb-3">
            <!--Total Movimientos-->
            <div class="">
                 <p class="font-bold ">Total $ </p>
                 <ul class="list-none">
                     <li th:value="${total}"></li>
                 </ul>
                 <!--<input type="number" th:value="${total}">-->
            </div>
            <!--Crear Transaccion-->
            <div sec:authorize="hasAnyRole('ADMIN','OPERARIO')">
                <div>
                    <a th:href="@{/transaction/crear}"
                       class="bg-green-500 hover:bg-green-600 px-2 pt-1 pb-2 text-white font-bold rounded">Agregar
                        Movimiento</a>
                </div>
            </div>
        </div>
        <!--Tabla Empresas-->
        <table class="bg-gray-200 px-4 py-4 my-0 mx-auto w-full text-center">
            <thead>
            <tr class="bg-sky-700 my-3 rounded-t">
                <th class="uppercase text-white py-3">Monto</th>
                <th class="uppercase text-white">Concepto</th>
                <th class="uppercase text-white">Empleado</th>
                <th class="uppercase text-white">Empresa</th>
                <div sec:authorize="hasAnyRole('ADMIN')">
                    <th class="uppercase text-white">Acciones</th>
                </div>

            </tr>
            </thead>
            <tbody class="text-base">
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.concept}"></td>
                <td th:text="${transaction.employee.name}"></td>
                <td th:text="${transaction.enterprise.name}"></td>
                <td>
                    <!--Opciones de control-->
                    <div sec:authorize="hasAnyRole('ADMIN')"
                         class="flex flex-auto justify-center gap-2 items-center content-center my-2">
                        <!--Editar Transaccion-->
                        <a th:href="@{/transaction/editar/{id}(id=${transaction.id})}"
                           class="bg-sky-500 hover:bg-sky-600 text-white px-2 py-1 rounded">Editar</a>
                        <!--Eliminar Transaccion-->
                        <a th:href="@{/transaction/delete/{id}(id=${transaction.id})}"
                           class="bg-red-600 hover:bg-red-700 px-2 py-1 text-white rounded">Eliminar</a>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

</body>
</html>