<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Actualizar Movimiento</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">

  <header class="">
    <!--Barra de navegación-->
    <nav class="bg-gradient-to-r from-cyan-500 to-blue-500 w-full px-2 py-5 shadow-lg">
      <div class="flex flex-auto justify-between gap-2 px-2 items-center">
        <div class="text-white font-bold">
          <!-- <img src="" alt=""> -->
          <img src="https://seeklogo.com/images/U/unicauca-logo-87F35B8ABC-seeklogo.com.png" height="40" width="40">
        </div>
        <div class="flex flex-auto justify-end gap-4 text-lg text-white font-bold" sec:authorize="hasAnyRole('ADMIN','OPERARIO')">
          <a th:href="@{/index}" class="hover:bg-sky-600 px-2 py-1 rounded" >Inicio</a>
          <a th:href="@{/enterprises}" class="hover:bg-sky-600 px-2 py-1 rounded" >Control Empresas</a>
          <a th:href="@{/employee}" class="hover:bg-sky-600 px-2 py-1 rounded" >Control Usuarios</a>
        </div>

      </div>
    </nav>
  </header>

  <form th:object="${transaction}" method="post" th:action="@{/transaction/{id}(id=${transaction.id})}">

    <div class="">
      <label for="amount">Monto :</label>
      <input id="amount" type="number" name="amount" th:field="*{amount}" placeholder="Digite Monto: ">
    </div>
    <div class="">
      <label for="concept">Concepto:</label>
      <input id="concept" type="text" name="concept" th:field="*{concept}" placeholder="Digite concepto: ">
    </div>


    <div class="">
      <label class="w-full font-bold my-2">Empleado:</label>
      <select th:field="*{employee.id}" placeholder="Seleccione Empleado: ">
        <option th:each="employee : ${employees}" th:text="${employee.name}" th:value="${employee.id}" ></option>
      </select>
    </div>

    <div class="">
      <label class="w-full font-bold my-2">Empresa:</label>
      <select th:field="*{enterprise.id}" placeholder="Seleccione Empresa: ">
        <option th:each="enterprise : ${enterprises}" th:text="${enterprise.name}" th:value="${enterprise.id}" ></option>
      </select>
    </div>


    <div class="my-2">
      <button type="submit">
        Actualizar Movimiento
      </button>

    </div>

  </form>

</div>

</body>
</html>