<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Actualizar Empleado</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <header class="">
        <!--Barra de navegación-->
        <nav class="bg-gradient-to-r from-cyan-500 to-blue-500 w-full px-2 py-5 shadow-lg">
            <div class="flex flex-auto justify-between gap-2 px-2 items-center">
                <div class="text-white font-bold">
                    <!-- <img src="" alt=""> -->
                    <img src="https://seeklogo.com/images/U/unicauca-logo-87F35B8ABC-seeklogo.com.png" height="40" width="40">
                </div>
                <div class="flex flex-auto justify-end gap-4 text-lg text-white font-bold" sec:authorize="hasAnyRole('ADMIN','OPERARIO')">
                    <a th:href="@{/index}" class="hover:bg-sky-600 px-2 py-1 rounded" >Inicio</a>
                    <a th:href="@{/enterprises}" class="hover:bg-sky-600 px-2 py-1 rounded" >Control Empresas</a>
                    <a th:href="@{/employee}" class="hover:bg-sky-600 px-2 py-1 rounded" >Control Usuarios</a>
                </div>

            </div>
        </nav>
    </header>
    
    <form th:object="${employee}" method="post" th:action="@{/employee/{id}(id=${employee.id})}">

        <div class="">
            <label for="name">Nombre :</label>
            <input id="name" type="text" name="name" th:field="*{name}" placeholder="Digite Nombre: ">
        </div>
        <div class="">
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" th:field="*{email}" placeholder="Digite Email: ">
        </div>

        <div class="">
            <label for="password">Contraseña:</label>
            <input id="password" name="password" th:field="*{password}" placeholder="Digite Contraseña: ">
        </div>

        <div class="">
            <label class="w-full font-bold my-2">Perfil:</label>
            <select th:field="*{profile.id}" placeholder="Seleccione Empresa: ">
                <option th:each="profile : ${listProfiles}" th:text="${profile.name}" th:value="${profile.id}" ></option>
            </select>
        </div>

        <div class="">
            <label class="w-full font-bold my-2">Empresa:</label>
            <select th:field="*{enterprise.id}" placeholder="Seleccione Empresa: ">
                <option th:each="enterprise : ${listEnterprises}" th:text="${enterprise.name}" th:value="${enterprise.id}" ></option>
            </select>
        </div>

        <div class="form-group">
            <label>Rol :</label>
            <select th:field="*{role}" class="form-control" placeholder="Seleeccione Perfil">
                <option th:each="role:${roles}"
                        th:value="${role}" th:text="${role}"
                >
            </select>
        </div>

        <div class="my-2">
            <button type="submit">
                Actualizar Empleado
            </button>

        </div>

    </form>

</div>

</body>
</html>